<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<title>個人画面</title>
<link rel="stylesheet" href="/assets/css/star.css">
</head>

<h1><%= current_user.name %>さんの部屋</h1>
<% @quests.each do |t| %>
      <div>
        <p>活動内容:<%= t.title %></p>
        <p>依頼主:<%= t.client %></p>
        <p>条件:<%= t.condition %></p>
        <p>参加者:<%= t.member %></p>
        <p>詳細:<%= t.details %></p>
        <p>難易度:<%= t.star %></p>
        <p>投稿者:<%= t.user_name %></p>
        <p><a href="/new/delete/<%= t.id%>">削除</a></p>
      </div>
    <% end %>