<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<title>個人画面</title>
</head>
<body>
<h1><%= current_user.name %>さんの部屋</h1>

<div>
  <ul>
    <li><a href="/home">全て</a></li>
    <% @categories.each do |c| %>
    <li><a href="/?category=<%= c.id %>"><%= c.categoname %></a></li>
  <% end %>


<div style="line-height: 0.5em">
<% @quests.each do |t| %>
      <div>
        <p>活動内容:<%= t.title %></p>
        <p>依頼主:<%= t.client %></p>
        <p>条件:<%= t.condition %></p>
        <p>参加者:<%= t.member %></p>
        <p>詳細:<%= t.details %></p>
        <p>難易度:<span class="<%= t.star %>"></span></p>
        <p>投稿者:<%= t.user_name %></p>
        <p><a href="/new/delete/<%= t.id%>">削除</a></p>
      </div>
    <% end %>
    </body>
</div>